body {
  font-family: 'Segoe UI', sans-serif;
  scroll-behavior: smooth;
}

header h1, header p {
  animation: fadeInDown 1s ease-in-out;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#logo{
  transform: translate(+50%,+50%);
}